/* Common styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: #f0f0f0; 
    margin: 0; 
    padding: 0; 
    padding-top: constant(safe-area-inset-top); /* Handle top safe area */
    padding-bottom: constant(safe-area-inset-bottom); /* Handle bottom safe area */
    padding-left: constant(safe-area-inset-left); /* Handle left safe area */
    padding-right: constant(safe-area-inset-right); /* Handle right safe area */
}

header {
    background-color: #000; 
    color: #fff;
    height: 201px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    max-height: 270px; 
}

.button-container {
    position: relative;
    width: 100%;
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.slide {
    display: none;
    width: 100%;
    text-align: center; /* Center the images */
}

img {
    margin: 0 auto; /* Center the images */
    display: block; /* Ensure the images are block-level elements for centering */
    max-width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media screen and (max-width: 460px) {
    header {
        height: 100px;
    }
    .header-logo {
        max-height: 50px; /* Adjust the maximum height of the image */
    }
    .button {
        padding: 15px; /* Further decreased padding for smaller screens */
        font-size: 16px; /* Further decreased font size for smaller screens */
        width: 100%; /* Adjusted to cover 100% of the screen width */
    }
}

@media screen and (max-width: 595px) {
    header {
        height: 150px;
    }
    .header-logo {
        max-height: 150px; /* Adjust the maximum height of the image */
    }
}

/* Media Queries for responsiveness */
@media screen and (min-width: 768px) {
    .button {
        width: 80%; 
    }
}

@media screen and (min-width: 1024px) {
    .button {
        width: 80%; 
        font-size: 27px;
    }
}

@media screen and (min-width: 2048px) {
    .button {
        width: 75%; 
        font-size: 30px;
    }
}
