/* Common styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(56,182,255); */
    background-color: rgb(18, 141, 217);
    margin: 0; 
    padding: 0; 
    padding-top: constant(safe-area-inset-top); /* Handle top safe area */
    padding-bottom: constant(safe-area-inset-bottom); /* Handle bottom safe area */
    padding-left: constant(safe-area-inset-left); /* Handle left safe area */
    padding-right: constant(safe-area-inset-right); /* Handle right safe area */
}

header {
    /* background-color: rgb(56,182,255); */
    background-color: inherit;
    height: 201px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal-tmp-headers nav {
    margin-top: 10px;
    text-align: center;

}
.normal-tmp-headers h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    color:inherit;
    margin-top: 70px;
    margin-bottom: 10px;

}

.normal-tmp-headers h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color:inherit;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.normal-tmp-headers a:link, a:visited, a:active {
    text-decoration: none;
    color:rgb(0, 21, 255);
    border: none;
    border-top: 300px;
    
}

.normal-tmp-headers a:hover {
    border: 5px blue solid;
}




#slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: center; /* Center the images */
    margin-top: 20px; /* Adjusted margin top */
  
}

.slide {
    display: none;
    width: 100%;
    text-align: center; /* Center the images */
    
}

img {
    margin: 0 auto; /* Center the images */
    display: block; /* Ensure the images are block-level elements for centering */
    border: 10px;
    width: 85%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 100px;
    padding: 5px;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media screen and (max-width: 460px) {
    header {
        height: 100px;
    }
    .header-logo {
        max-height: 50px; /* Adjust the maximum height of the image */
    }
}



/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .button {
        width: 80%; 
    }

    .normal-tmp-headers h1 {
        font-size: 3em;
        
    
    }
    .normal-tmp-headers h2 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.5em;
    }

    .normal-tmp-headers a:hover {
        border: 2px blue  solid;
    }

    .prev, .next {
        font-size: 60px;
        padding: 5px;

    }

    .slide {
        display: none;
        width: 100%;
        text-align: center; /* Center the images */
        
    }

    #slideshow-container {
        position: relative;
        max-width: 500px;
    }
}


